parameters:
  reportUnmatchedIgnoredErrors: false
  customRulesetUsed: true
  checkMissingIterableValueType: false
  fileExtensions:
    - module
    - theme
    - profile
    - install
  ignoreErrors:
    - '#Plugin definitions cannot be altered.#'
includes:
  - vendor/mglaman/phpstan-drupal/extension.neon
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon
