/**
 * Group permissions table styling.
 */

/* Permissions page */
.permissions .module {
    font-weight: bold;
}
.permissions .section {
    font-style: italic;
    padding-left: 1.5em; /* LTR */
}
[dir="rtl"] .permissions .section {
    padding-left: 0;
    padding-right: 1.5em;
}
.permissions .permission {
    padding-left: 2.5em; /* LTR */
}
[dir="rtl"] .permissions .permission {
    padding-left: 0;
    padding-right: 2.5em;
}
