<div class="private-message-notification-wrapper {{ unread_notification_class }}">
  <img src="{{ notification_image_path }}" class="private-message-notification-image" />
  {{ private_message_page_link }}
</div>
