<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="image_effects">
  <description>PHP CodeSniffer configuration for image_effects module.</description>
  <file>.</file>
  <arg name="extensions" value="inc,install,module,php,profile,test,theme"/>

  <!--Exclude README.md.-->
  <exclude-pattern>./README.md</exclude-pattern>

  <!--Exclude test fonts directory.-->
  <exclude-pattern>./tests/fonts/*</exclude-pattern>

  <!--Use Drupal code rule.-->
  <rule ref="Drupal"></rule>

</ruleset>
