.draggable.field-plugin-settings-editing, .draggable.drag-previous.field-plugin-settings-editing {
  background: var(--colorGinAppBackground);
}

.field-plugin-summary {
  font-size: .8rem;
  color: var(--colorGinTextLight);
}
