---
label: 'Dynamic Entity Reference'
top_level: true
---
<h2>{% trans %}Overview{% endtrans %}</h2>
<p>
  <a href="https://www.drupal.org/project/dynamic_entity_reference" rel="nofollow">
    {% trans %}Dynamic Entity Reference{% endtrans %}
  </a>
  {% trans %} provides a field type/widget/formatter combination for Drupal 8 that allows an entity-reference field to reference more than one entity type.{% endtrans %}
</p>
<a target="_blank" rel="noopener noreferrer" href="https://www.drupal.org/files/project-images/Screen%20Shot%202014-06-11%20at%208.00.21%20am.png">
  <img src="https://www.drupal.org/files/project-images/Screen%20Shot%202014-06-11%20at%208.00.21%20am.png" alt="Dynamic Entity Reference" data-canonical-src="https://www.drupal.org/files/project-images/Screen%20Shot%202014-06-11%20at%208.00.21%20am.png" style="max-width: 100%;">
</a>

<h2>{% trans %}Features{% endtrans %}</h2>

<p>
  {% trans %}Create a single field to hold references to Users and Nodes. Or Terms and Nodes, or all three.{% endtrans %}
</p>

<h2>{% trans %}Requirements{% endtrans %}</h2>

<p>
  {% trans %}Core field module.{% endtrans %}
</p>

<h2>{% trans %}Known problems{% endtrans %}</h2>

<p>
  {% trans %}Please use the{% endtrans %} <a href="https://www.drupal.org/project/issues/dynamic_entity_reference" rel="nofollow">{% trans %}issue queue{% endtrans %}</a> {% trans %}to report problems.{% endtrans %}
</p>
